* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:hover {
  color: red;
  transition: 0.5s;
}

a:active {
  color: yellow;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar {
  font-size: 18px;
}

.navbar a:hover {
  color: white;
}

nav img {
  width: 100px;
  height: 80px;
}

.menu-color {
  background-color: firebrick;
}

.titulo h5 {
  font-size: 50px;
  color: white;
  margin: 20px;
  text-shadow: 3px 5px 5px firebrick;
  text-transform: uppercase;
}

.carousel-item img {
  width: 100%;
  object-fit: cover;
}

.altura img {
  height: 600px;
}

.boton {
  background-color: #6e6464;
  color: white;
  border-radius: 5px;
  border: solid 1px black;
  padding: 10px;
}

.boton:hover {
  background-color: #c23838;
}

.espacio {
  padding-left: 20px;
  padding-right: 20px;
}

.hero {
  width: 100%;
  height: 600px;
  background-image: url(../img/carnee.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hero h1 {
  font-size: 70px;
  color: white;
  margin: 30px;
  text-shadow: 3px 5px 5px firebrick;
  text-transform: uppercase;
}

.hero h2 {
  color: white;
  text-shadow: 3px 5px 5px firebrick;
}

.hero p {
  margin: 30px;
  font-size: 35px;
  color: white;
  text-shadow: 3px 5px 5px firebrick;
  padding: 10px;
}

.hero a {
  background-color: firebrick;
  text-decoration: none;
  color: white;
  padding: 20px;
  font-size: 20px;
  box-shadow: 1px 1px 50px 15px rgba(0, 0, 0, 0.52);
  -webkit-box-shadow: 1px 1px 50px 15px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 1px 1px 50px 15px rgba(0, 0, 0, 0.52);
  border: 4px black solid;
  border-radius: 5px;
}

.video {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}

.video h2 {
  background-color: black;
  text-align: center;
  padding: 20px;
  font-size: 30px;
  text-transform: uppercase;
  margin: 0px;
}

.video div {
  background-image: url(../img/fondoc.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row-reverse;
  margin-top: auto;
  height: 500px;
  padding-left: 20px;
  padding-right: 20px;
}

.historia {
  color: white;
  background-color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.historia div {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  height: 500px;
}

.historia div h2 {
  text-transform: uppercase;
}

.historia img {
  width: 100%;
}

.fix a img {
  width: 50px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 5px;
  opacity: 0.8;
}

.entrega {
  background-color: black;
  height: 800px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.entrega h2 {
  margin-top: 130px;
  padding: 20px;
  text-transform: uppercase;
  text-align: center;
  border: 4px firebrick solid;
  border-radius: 3px;
}

.entrega div p {
  font-size: 30px;
  margin-top: 25px;
  margin-bottom: 5px;
}

.entrega div ul {
  list-style: none;
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
  margin-right: 20px;
}

.entrega div ul li {
  padding: 10px;
}

.entrega p {
  font-size: 30px;
  margin-top: 25px;
  margin-bottom: 5px;
}

.entrega ul {
  list-style: none;
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
  margin-right: 20px;
}

.entrega ul li {
  padding: 10px;
}

.envy {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-size: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 120px;
  border-bottom: 4px firebrick solid;
  font-weight: 800px;
}

.datos {
  background-color: #921717;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.datos h2 {
  font-size: 45px;
  padding: 10px;
  color: black;
  font-weight: 500;
}

.datos form .fieldset {
  background-color: #aa4314;
  box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.1);
  border: none;
  padding: 10px;
  color: black;
}

.datos form .fieldset legend {
  font-size: 30px;
  text-transform: uppercase;
  color: black;
  text-align: center;
  font-weight: 700;
}

.datos form .fieldset div {
  display: flex;
  flex-flow: column;
  height: auto;
  margin: 10px;
}

.datos form .fieldset div input {
  height: 30px;
  font-size: 17px;
}

.datos form .fieldset div label {
  text-transform: capitalize;
  opacity: 0.8;
  font-size: 17px;
  font-weight: 500;
}

.datos form .fieldset div textarea {
  font-size: 17px;
}

.datos form .fieldset button {
  background: white;
  opacity: 0.8;
  width: 100%;
  height: 40px;
  font-size: 15px;
  text-transform: uppercase;
  color: black;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 0;
  transition: ease 0.5s;
}

.ofertas {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  border: none;
  background-color: black;
}

.ofertas div {
  margin: 30px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-shadow: 3px 5px 5px firebrick;
  text-transform: uppercase;
  font-weight: 600;
  transition: 1.5s;
}

.ofertas div h5 {
  font-size: 35px;
  color: white;
}

.ofertas div a {
  text-decoration: none;
}

.ofertas div a img {
  height: 300px;
  width: 300px;
}

.ofertas div:hover {
  transform: scale(1.1);
  box-shadow: 10px 10px 40px -14px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 40px -14px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 40px -14px rgba(0, 0, 0, 0.75);
}

.tienda {
  text-align: center;
  background-color: black;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  padding: 20px;
  margin-bottom: 10px;
}

.grid-compras {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 250px;
  gap: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.grid-compras .grid-carne {
  position: relative;
}

.grid-compras div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 4px black solid;
  border-radius: 5px;
  box-shadow: 10px 10px 40px -14px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 40px -14px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 40px -14px rgba(0, 0, 0, 0.75);
}

.grid-compras div h3 {
  position: absolute;
  top: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.464);
  width: 100%;
  pad: 10px;
  text-align: center;
  padding: 7px;
  text-transform: capitalize;
}

.grid-compras div a {
  position: absolute;
  bottom: 0;
  color: white;
  background-color: black;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 15px;
  text-overflow: ellipsis;
}

.grid-galeria {
  width: 100%;
  margin-top: 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 250px;
  gap: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 10px;
}

.grid-galeria div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 4px black solid;
  box-shadow: 10px 10px 40px -14px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 40px -14px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 40px -14px rgba(0, 0, 0, 0.75);
}

.grid-galeria div h3 {
  position: absolute;
  bottom: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.464);
  width: 100%;
  pad: 10px;
  text-align: center;
  margin-bottom: 0px;
}

.grid-galeria .grid-item {
  position: relative;
}

.grid-galeria .img-1 {
  grid-column: span 3;
}

.envios {
  background-color: lightslategray;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border: 4px black solid;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.envios div h4 {
  font-size: 30px;
  text-align: left;
}

.envios div p {
  font-size: 25px;
}

.envios img {
  width: 20%;
}

footer {
  background-color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 10px;
  border-top: 5px firebrick solid;
}

footer .sucursal p {
  color: white;
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
}

footer .sucursal iframe {
  width: 300px;
  height: 200px;
  padding: 20px;
}

footer section h1 {
  color: white;
  font-size: 50px;
}

footer section div ul {
  list-style: none;
}

footer section div ul li a {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
}

footer section .redes img {
  height: 50px;
  width: 50px;
  display: flex;
  flex-direction: column;
  padding: 8px;
  border-radius: 15px;
}

@media screen and (max-width: 1100px) {
  section.ofertas {
    flex-direction: column;
  }
  
}
@media screen and (max-width: 500px){
    section.ofertas div img{
      height: 150px;
      width: 150px;
    }
    section.ofertas h5{
      font-size: 20px;
    }
    section.grid-galeria {
      display: flex;
    flex-direction: column;
    justify-content: center;
    
    }
    .carousel-item img{
      height: auto;
      width: auto;
    }
    section.grid-compras{
      display: flex;
    flex-direction: column;
    justify-content: center;
    }
    section.video iframe{
      display: none;
    }
   
    
  }
  @media screen and (max-width: 600px){
          }
          /* section.hero{
            height: auto;
            width: 100%;
          } */

    section.envios p{
      font-size: 15px;
    }
    
    .envios img{
      display: none;
    }
    section.video{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    section.video iframe{
      height: 150px;
      width: 150px;
    }
    section.video p{
      font-size: 12px;
    }

    footer{
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
    }
    footer .sucursal iframe{
      height: 150px;
      width: 150px;
    }
    footer section h1{
      font-size: 25px;
    }
  
  @media screen and (max-width: 400px){
.grid-galeria{
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(
      150px,
      1fr
    )
    )
    ;
}
  }
  @media screen and (max-width:300px){
    section.ofertas div img{
      height: 70px;
      width: 70px;
    }
  }
  @media screen and (max-width:800px){
    section.hero h1{
      font-size: 25px;

  }
  section.hero p{
    font-size: 12px;
  }
}